{%extends "base.html" %}
{%block title%}About Us | PgDay Austin 2017{%endblock%}
{%block pagetitle%}PgDay Austin 2017{%endblock%}
{%block content%}
<!-- Main -->

					<h1>About Us</h1>

          <!-- Who we are -->
            <hr>
						<p>
							This group serves as the Austin chapter of PostgreSQL user groups, a
							community supported gathering of postgres users new and experienced alike.
						</p><p>
							PGDay Austin 2017 will be held on August 26th in Austin, TX at fibercove, a
							coworking, meeting, and event space in the South Lamar district of Austin,
							TX. This event is hosted by the Austin PostgreSQL User Group (PUG), and
							underwritten by the U.S. PostgreSQL Association. The Austin PUG serves as
							the Austin chapter of PostgreSQL user groups, a community supported
							gathering of Postgres users new and experienced alike.
						</p>
          <!-- Program Committee -->
            <h3>Program Organizers</h3>
            <ul class="unstyled">
              <li>Debra Cerda</li>
						  <li>Jim Nasby</li>
            </ul>

          <!-- Conference Policies -->
            <h3>Conference Policies</h3>
						<p>Please see our <b><a href="{{link("policies/")}}">policies</a></b> regarding our refund, speaker, and anti-harassment policies.</p>


{% endblock %}
