{%extends "base.html" %}
{%block title%}Call For Papers | PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
		<!-- Main -->

					<h1>Call for Papers</h1>
					<hr>

            <h3>General Information</h3>

						<p>PGDay Austin 2017 will be held on August 26th in Austin, TX at fibercove, a coworking, meeting, and event space
							in the South Lamar district of Austin, TX. This group serves as the Austin chapter of PostgreSQL user groups, a
							community supported gathering of Postgres users new and experienced alike. For more information about the conference,
							please see <b><a href="{{link("about/")}}">About Us</a></b>.</p>
            </p>

            <p>Please note that PGDay Austin is open to all audiences and ages.  All talks
            are expected to be appropriate for a diverse group.  Please see our Conference
						<b><a href="{{link("policies/")}}">Policies</a></b> and feel free to contact the
            <b><a href="mailto:secretary@postgresql.us">PGUS secretary</a></b> with any questions.
            </p>


            <h3>Important Dates</h3>
						<ul class="alt">
							<li><b>Call for Papers Closes</b><br> June 9th, 2017</li>
							<li><b>Speakers Notified</b><br> June 11th, 2017</li>
							<li><b>Speakers Confirmed</b><br> June 14th, 2017</li>
							<li><b>Talks Announced</b><br> June 17th, 2017</li>
							<li><b>Registration Opens</b><br> June 17th, 2017</li>
							<li><b>Schedule Announced</b><br> June 21st, 2017</li>
						</ul>
						<p>
							We will have a lightning talks session again this year! A separate CfP will be made for lightning talks closer to the conference dates.
						</p>
            <p>All selected speakers will get free entry to the conference (excluding
            training sessions and tutorials). We do not in general cover travel and accommodations
            for speakers, but may be able to do that in limited cases. If you require
            assistance with funding to be able to attend, please make a note of this
            in the Submission Notes field.
            </p>

            <h3>Shortcuts</h3>
            <p>
            <ul class="alt">
              <li><b><a href="https://postgresql.us/events/speakerprofile/pgdayaustin2017/">Speaker Profile</a></b></li>
              <li><b><a href="https://postgresql.us/events/callforpapers/pgdayaustin2017/">Talk Submission</a></b></li>
            </ul>
            </p>

            <h3>Detailed Instructions</h3>
            <p>The first step to submit your proposal is to set up, or review for returning speakers, your speaker profile <a href="https://postgresql.us/events/speakerprofile/pgdayaustin2017/">here</a>.
              This system uses the PostgreSQL Community Auth system (the same system used by the PostgreSQL wiki, CommitFest, and pgconf.eu).  Log in
              to the system with your PostgreSQL Community Auth credentials.  Please note that while this is the same code, the speaker profiles are
              not shared between postgresql.eu and postgresql.us.
						</p>

            <p>Once you've created your profile, this page will provide a link to a form where you can submit your
              talks for PostgresOpen 2017. When the site prompts for a login, use your
              regular postgresql.org community account.  Should you already have your speaker profile, you can go to
              the talk submission page directly <a href="https://postgresql.us/events/callforpapers/pgdayaustin2017/">here.</a>
						</p>

            <h3>Session Information</h3>
						<p>We encourage content for all knowledge levels, and welcome content that speaks to users new to PostgreSQL as well as practical applications and case studies.
							We welcome any PostgreSQL contributors and users, as well as other external communities including but not limited to Python, Djanjo, Rails, JSON, to submit a
							proposal.</p>
            <p>Each session will last 45 minutes, and may be on any topic related to PostgreSQL. Suggested topic areas include:</p>
            <ul class="alt">
              <li>Developing applications for PostgreSQL</li>
              <li>Administering large scale PostgreSQL installations</li>
              <li>Case studies and/or success stories of PostgreSQL deployments</li>
              <li>PostgreSQL tools and utilities</li>
              <li>PostgreSQL hacking</li>
              <li>Community &amp; user groups</li>
              <li> Tuning the server</li>
              <li>Migrating from other systems</li>
              <li>Scaling/replication</li>
              <li>Benchmarking &amp; hardware</li>
              <li>PostgreSQL related products</li>
            </ul>
            <p>Of course, we're happy to receive proposals for talks on other PostgreSQL-related topics as well.</p>


{% endblock %}
