{%extends "index_base.html" %}
{%block title%}PgDay Austin 2017{%endblock%}
{%block pagetitle%}PgDay Austin 2017{%endblock%}
{%block content%}
		<!-- Banner -->
			<section id="banner" class="jumbotron">
				<h2>PgDay Austin 2017</h2>
				<p> - Don't Mess with Postgres - </p>
			</section>
			<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="box">
								<img src="{{media("images/texas.png")}}" alt="Texas">
								<p>PGDay Austin 2017 will be held on August 26th in Austin, TX at fibercove, a coworking, meeting, and event space
									in the South Lamar district of Austin, TX. This group serves as the Austin chapter of PostgreSQL user groups, a
									community supported gathering of Postgres users new and experienced alike.</p>
								<p>Some of our key members are highly active individuals in the postgres community that participate heavily in the
									advancement of the database service. All are welcome, and we always love new faces. We cater to both the expert
									and the newbie, and the topics we cover are covered from that standpoint as well.This is a great place to learn
									how to use postgres and to gain some hands-on training with some very knowledgable individuals, share in a wealth
									of experience, and so on.</p>
								<p>Our meetup page for updates is available <a href="https://www.meetup.com/austinpug/">here.</a></p>
								<p>Any questions or concerns can be directed to <b><a href="secretary@postgresql.us">secretary@postgresql.us.</a></b></p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="box">
								<img src="{{media("images/calendar.svg")}}" alt="Calendar">
								<ul class="unstyled">
									<li><b>Call for Papers Closes</b><br> June 4th, 2017</li>
									<hr>
									<li><b>Speakers Notified</b><br> June 6th, 2017</li>
									<hr>
									<li><b>Speakers Confirmed</b><br> June 9th, 2017</li>
									<hr>
									<li><b>Talks Announced</b><br> June 12th, 2017</li>
									<hr>
									<li><b>Registration Opens</b><br> June 12th, 2017</li>
									<hr>
									<li><b>Schedule Announced</b><br> June 21st, 2017</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
<!--		<section id="news" class="wrapper news special">
			<header class="major front">
				<h2>Latest Blogs</h2>
			</header>
			<div id="posts" class="posts horizontal">
			  <div class="overlay"></div>
			</div>
		</section>
-->
{% endblock %}
