{%extends "base.html" %}
{%block title%}Register | PgDay Austin 2017{%endblock%}
{%block pagetitle%}PgDay Austin 2017{%endblock%}
{%block content%}
<h1>PGDay Austin 2017 Tickets</h1>

<section class="section">
<hr>
<h3>General Information</h3>
<p>Welcome to the PGDay Austin 2017 Registration section!</p>
<p>Our newly updated ticketing and registration interface works in tandem with your postgresql.org community credentials. If you do not have a login you will be asked to create one.</p>
<p><i>(Please note, your community account will not be shared or spammed in accordance with <a href="{{link("policies/")}}">our policies</a>).</i></p>
<p>If you’re ready to acquire tickets - <a href="https://postgresql.us/events/register/pgdayaustin2017/"><b> click here!</b></a> </p>
<table>
  <thead>
    <tr>
      <th>Registration Type</th>
      <th>Fee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Professional</td>
      <td>$40</td>
    </tr>
    <tr>
      <td>Student</td>
      <td>$20</td>
    </tr>
  </tbody>
</table>
</br>
</section>
<!-- End -->
<!-- Begin Overview -->
<section>
<h3>A quick overview of how the ticketing process works:</h3>

<ul class="alt">
  <li>Log in or create an account with postgresql.org.</li>
  <li>You will be redirected to the registration form page. </li>
  <li>Once you have submitted your information for registration and ticketing, you will see an invoicing page for payment.</li>
  <li>Please continue through the process and pay the invoice immediately or your registration and ticket will not be confirmed.</li>
  <li>Payment for conference tickets is transacted through Braintree Payments.</li>
  <li>Once your payment has been authorized, you will be redirected back to our site and a copy of the transaction receipt
    will be emailed to you in PDF format.</li>
</ul>
<p><a href="https://postgresql.us/events/register/pgdayaustin2017/"><b>Purchase tickets!</b></a></p>
<p>Please let us know if you have any questions or issues with the registration system: <a href="mailto:secretary@postgresql.us">secretary@postgresql.us</a>.</p>

</section>
{% endblock %}
